# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\SOF3011_Java4\tuanpaph26902_assignment\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
